<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Registar</title>
</head>
<body>
  <h2>Registo</h2>
  <form method="POST">
  <input type="text" name="nome" placeholder="Nome completo" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Palavra-passe" required>
  <input type="text" name="telefone" placeholder="Telefone">
  <input type="text" name="nif" placeholder="NIF">
  <input type="text" name="morada" placeholder="Morada">
  <button type="submit">Registar</button>
</form>


  <p>Já tens conta? <a href="{{ url_for('login') }}">Inicia sessão aqui</a>.</p>
</body>
</html>
